<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="Review.js"></script>
</head>
<body>
    <form data-multi-step>
        <div class="card" data-step="1"></div>
        <div class="card" data-step="2"></div>
        <div class="card" data-step="3">
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>