/* File used to main all of the different styling of components in the project. */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: 1rem;
    text-align: center;
}

.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active{
    background-color: #555;
}

.nav li:hover {
    background-color: #777;
}

.card {
    background-color: white;
    border: 1px solid #333;
    border-radius: .5rem;
    padding: .5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    gap: .25em;
}
  
.form-group:last-child {
    margin: 0;
}
  
.form-group > label {
    font-weight: bold;
    font-size: .8em;
    color: #333;
}
  
.form-group > input {
    border: 1px solid #333;
    border-radius: .25em;
    font-size: 1rem;
    padding: .25em;
}
  
.sub-title {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
}
  
.card.active {
    animation: slide 250ms 125ms ease-in-out both;
}
  
.multi-step-form {
    overflow: hidden;
    position: relative;
}
  
.hide {
    display: none;
}
  
@keyframes slide {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
  
@keyframes fade {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(.75);
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
}  